*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/lib/test.js
package-lock.json
server/storage/
.vscode/
dump.rdb
bin/ng2-lib-gen.sh
bin/ng6-lib-gen.sh
